.form-signin {
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  margin-top: 200px;
}

* {
  font-family: proxima-nova, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: #00bce4;
  font-size: 14px;
  font-weight: 500;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: lores-9-wide, sans-serif;
}

.logo {
  left: 20px;
  top: 20px;
  display: block;
  border-radius: 3px;
  width: 80px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size: 15px;
  font-family: lores-9-wide, sans-serif;
  font-weight: bold;
  background: #00a98f;
  border: none;
}

.copyright {
  font-size: 10px;
  font-family: lores-9-wide, sans-serif;
}


.color-border {
  background-color: rgb(233, 30, 99);
  /*background: linear-gradient(45deg, #F3C32E, #FFC400);*/
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 0px;
}

  .color-border a {
    text-decoration: underline;
    color: white;
    font-weight: 700;
    font-size: 14px;
  }
