h1, h2, h4 {
  font-weight: 500;
  color: #21262A;
  font-size: 16px;
}

h1 {
  padding-top: 45px;
  font-size: 30px;
  font-family: lores-9-wide, sans-serif;
}

h4 {
  margin-top: 10px;
  margin-bottom: 40px;
  color: #ACB5BD;
  font-size: 14px;
  font-weight: 600;
}

.row.api-key {
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;
}

/* code styles */

.nav-link {
  color: #21262A;
  border-color: transparent;
  border: none;
}

.nav-link.active {
  background-color: #272B36;
  border-color: #272B36;
  color: white;
}

.nav-tabs {
  border-bottom: 1px solid #272B36;
}

.key {
  padding: 10px;
  border-radius: 3px;
  background: white;
  font-weight: 600;
  font-size: 13px;
  font-family: monospace;
  border: none;
}

.hljs {
  background: #272B36;
}

.tab-content {
  background: #272B36;
  margin-top: 0px !important;
  padding: 0px;
  font-size: 13px;
  font-family: monospace !important;
}
